%p
  Halo sahabat!

%p
  Foto yang kamu kirim sudah kami unggahkan. 
  
%p
  Silakan log in di 
  =link_to 'sini', new_profile_candidate_url
  dengan email yang sama, cek apakah fotonya benar, kemudian meneruskan dengan unggah surat rekomendasi.

%p
  Salam semangat!
  %br
  Tim Seleksi FIM 14