%p
  Halo Sahabat,

%p
  Surat rekomendasi yang kamu kirim sudah kami unggahkan.
  
%p
  Silakan log in di 
  =link_to 'sini', new_profile_candidate_url
  dengan email yang sama, cek apakah surat rekomendasinya benar, kemudian meneruskan dengan konfirmasi di halaman akhir. 
  Sebelum konfirmasi, data masih 
  %b belum
  dikumpulkan ke tim seleksi, sehingga kamu masih bisa mengubah-ubah isian kamu.

%p
  Kalau semua data sudah terisi dengan benar, jangan lupa untuk konfirmasi di halaman akhir ya! :)
  
%p
  Salam semangat!
  %br
  Tim Seleksi FIM