%h3 Selamat datang di Portal Alumni FIM
    
%p
  Melalui Portal Alumni ini, Anda bisa berkoneksi dengan teman-teman alumni FIM dari angkatan 1 sampai angkatan 13.
%p
  Diharapkan akan memajukan langkah-langkah kita untuk sebuah kolaborasi bagi Indonesia! 

= render :partial => "devise/shared/register_or_sign_in", :locals => {:user => @user}
