%h3 Statistik Sementara Pendaftar FIM 14 (diperbarui tiap 2 menit)

%p 
  Jumlah aplikasi:
  %b= User.count 
%p
  Jumlah aplikasi lengkap:
  %b= ProfileCandidate.submitted.count

%hr

.row
  .span4
    %h4 Distribusi per provinsi:
    %br
    %table.table.table-striped
      %tr
        %th{:style => 'width:70%'} Provinsi
        %th Jumlah
      -@provinces_count.each do |province|
        %tr
          %td
            =link_to(province[0], profile_candidates_path(:province => province[0]))
          %td= province[1]
         
  .span8
    %h4 Distribusi per Institusi:
    %br
    %table.table.table-striped
      %tr
        %th{:style => 'width:70%'} Nama Institusi
        %th Jumlah
      -@schools_count.each do |school|
        %tr
          %td
            =link_to(school[0], profile_candidates_path(:school => school[0]))
          %td= school[1]