%h3 Frequently Asked Questions

.row
  .span8
    %h4 Apakah pelatihan Forum Indonesia Muda berbayar?
    %p
      ​Biaya kegiatan, konsumsi, dan akomodasi selama pelatihan akan ditanggung oleh panitia. Peserta harus menanggung 
      %b biaya transportasi sendiri menuju dan pulang dari lokasi pelatihan. 
      Selain itu, peserta yang lolos seleksi akan dikenai 
      %b biaya penggantian training kit sebesar Rp 300.000,-
      , juga sebagai jaminan komitmen untuk hadir di pelatihan​ sehingga tidak melalaikan amanah setelah terpilih dari ribuan calon peserta.
    %h4 Bagaimana jika peserta mengalami kendala dalam hal biaya transportasi?
    %p
      Pengalaman dari para peserta sebelumnya, peserta dapat mengajukan proposal ke pihak terkait yang dapat menjadi donatur. Panitia akan membantu dengan mengirimkan surat keterangan mengikuti acara dan proposal kegiatan. Permohonan surat keterangan tersebut bisa diajukan kepada panitia paling lambat 1 (satu) minggu setelah pengumuman daftar nama peserta fiks dari panitia.
    %h4 Apakah FIM memiliki afiliasi dengan ormas/partai politik?
    %p
      FIM adalah forum independen yang beranggotakan pemuda-pemudi Indonesia dari berbagai latar belakang minat dan aktivitas, universitas maupun lembaga kepemudaan, baik di Indonesia maupun di luar negeri. FIM merupakan organisasi kepemudaan yang tidak berafiliasi dengan ormas atau partai politik manapun.
    %h4 Bagaimana bila jadwal acara berbarengan dengan jadwal kuliah dan ujian, tetapi calon peserta ingin sekali mengikuti acara ini?
    %p
      Panitia akan membantu dengan mengirimkan surat keterangan lolos seleksi yang ditujukan kepada dekan atau dosen yang bersangkutan. Materi pelatihan FIM disusun sedemikian rupa dan saling berkaitan. Peserta wajib mengikuti keseluruhan rangkaian acara. Tidak ada toleransi izin untuk keluar lokasi pelatihan, walaupun kampus peserta berada berdekatan dengan lokasi pelatihan.
    %h4 Surat rekomendasi itu seperti apa?
    %p
      Surat rekomendasi adalah salah satu berkas pendaftaran yang berisi rekomendasi untuk mengikuti pelatihan FIM 17. Surat rekomendasi ini dapat diberikan oleh
      %b siapapun
      , baik itu teman baik, dosen, tokoh masyarakat, pemuka adat, petinggi organisasi, petinggi partai, atau alumni FIM. Rekomendasi diminta kepada orang yang kenal baik dengan calon peserta. Setiap calon peserta hanya diperkenankan untuk melampirkan ​​
      %b satu rekomendasi saja.
      Template surat rekomendasi telah dibuat oleh panitia dan calon peserta dapat mengunduhnya saat mengisi isian pendaftaran.
    %h4 Bagaimana memasukkan surat rekomendasi bertanda tangan?
    %p
      Sebelumnya, surat rekomendasi bertanda tangan dapat di-scan atau difoto terlebih dahulu, atau pada softcopy dapat dimasukkan gambar tanda tangan (asli ditandatangani oleh pemberi rekomendasi) dalam format gambar atau dokumen. Setelah itu file softcopy diunggah ke dalam form pendaftaran.
    %h4 Apakah surat rekomendasi boleh lebih dari satu?
    %p
      Tidak. Cukup lampirkan satu surat rekomendasi terbaik, sesuai dengan format/template yang telah diberikan panitia.
    %h4 Karya tentang Bung Hatta itu seperti apa?
    %p 
      Peserta dipersilakan membuat karya seni berupa lagu atau video bertemakan Bung Hatta. Karya seni ini bersifat
      %b Optional
      tidak wajib namun dapat menambah nilai. Lagu dan video yang disertakan merupakan karya​​ orisinal, belum pernah diikutkan lomba atau dipublikasikan sebelumnya. ​​
      %b Bila calon peserta lolos seleksi, maka karyanya menjadi hak milik FIM.