-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  %script{type: "text/javascript", src: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js'}

  :javascript
    #{map_loader(@latitudes, @longitudes)}  

.row
  .span5
    %h2 About FIM
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar tortor ac tortor dictum congue. Maecenas placerat, massa in aliquet consequat, enim purus convallis neque, et viverra augue purus vitae urna.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar tortor ac tortor dictum congue. Maecenas placerat, massa in aliquet consequat, enim purus convallis neque, et viverra augue purus vitae urna.
  .span4
    %h4 Rekapitulasi pendaftar FIM 14
    #map_canvas{:style => "width:600px; height:300px"}

.row
  .span12
    %h3 Apa yang ingin Anda lakukan

.row
  .span3.service-item
    %h4
      %i.icon-file>
      Pendaftaran FIM 14
    %img{:alt => "", :src => "http://placehold.it/270x125"}/
    %p
    =link_to new_profile_candidate_path do
      %button.btn.btn-primary{:type => "button"} Daftar >>
  .span3.service-item
    %h4
      %i.icon-list-alt>
      Daftar Calon Peserta FIM 14
    %img{:alt => "", :src => "http://placehold.it/270x125"}/
    %p
    =link_to profile_candidates_path do
      %button.btn.btn-primary{:type => "submit"} Lihat >>
