-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  %script{type: "text/javascript", src: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js'}
  %meta{property: "fb:admins", content: "100003294745679"}
  :javascript
    #{map_loader(@latitudes, @longitudes)}  


#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=268730903259240";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

.row
  .span8
    .alert.alert-success
      Daftar diumumkan tanggal 15 April 2013, pukul 10.00 WIB.
      
    %h3 Menjelang Pengumuman Peserta FIM 14
    
    %p{:style => 'text-align: right'}
      %b
        Lihat juga: 
        =link_to "FAQ Pengumuman FIM 14", home_faq_path
        ,
        =link_to "Agenda FIM 14", home_agenda_path
    
    %br
    %p 
      %b Halo Pemuda Indonesia!
    %p 
      Forum Indonesia Muda mengucapkan terima kasih yang sebesar-besarnya atas antusiasme luar biasa dari 
      %b 4995 orang
      pendaftar pelatihan 
      %b Forum Indonesia Muda 14, Character Building & Leadership-Life Skill Training 
      (merupakan rekor pendaftar tertinggi dalam kurun 10 tahun Forum Indonesia Muda).
    %p 
      Melihat begitu besarnya antusiame dan partisipasi pendaftar kali ini, pelatihan FIM 14 yang merupakan rangkaian acara dari 1 Dekade Forum Indonesia Muda, akan dilaksanakan dalam 
      %b 2 gelombang. 
      Adanya dua gelombang pelatihan ini tidak lain merupakan wujud dari apresiasi dan rasa syukur kami terhadap pemuda pemudi Indonesia yang memiliki banyak potensi dan berkeinginan untuk mengembangkannya melalui Forum Indonesia Muda.
    %p 
      Untuk itu, akan dipilih
      %b 180 calon peserta 
      pelatihan dengan pembagian 
      %b 120 orang 
      mengikuti pelatihan gelombang pertama yang akan diadakan pada tanggal
      %b 2-5 Mei 2013 di Cibubur, Jakarta 
      (selanjutnya disebut dengan FIM 14.C) dan 
      %b 60 orang 
      mengikuti pelatihan gelombang kedua yang akan dilaksanakan pada tanggal 
      %b 25-28 Mei 2013 di Bukittinggi, Sumatera Barat 
      (selanjutnya disebut dengan FIM 14.B).
    %p
      %b{:style => 'color:green'}
        180 calon peserta akan diumumkan pada hari Senin, 15 April 2013 pukul 10.00 WIB melalui website ini
    %p Bagi rekan-rekan yang terpilih diwajibkan melakukan konfirmasi mengenai keikutsertaannya dalam FIM 14, pada batas waktu tertentu yang akan ditentukan kemudian. 180 calon peserta juga wajib memilih gelombang pelatihan yang bisa diikuti. Adapun opsi pemilihannya adalah :
    %p
      %b a. FIM 14.C (di Cibubur) saja
      %br
      %b b. FIM 14.B (di Bukittinggi) saja
      %br
      %b c. Peserta bersedia mengikuti pelatihan di gelombang manapun (akan dipilihkan salah satu oleh panitia)
    %p
      Konfirmasi dan pemilihan 
      %b hanya
      dapat dilakukan di website ini (http://portal.forumindonesiamuda.org), kami 
      %b tidak
      menerima konfirmasi dan pemilihan melalui sms, email, ataupun media lain. Sistem konfirmasi akan dibuka pada saat yang bersamaan dengan pengumuman (Senin, 15 April 2013 pukul 10.00 WIB). 
    %p 
      Karena keterbatasan kuota, lakukanlah konfirmasi sesegera mungkin 
      %b
        %u (FIRST IN, FIRST SERVE). 
      Bagi calon peserta yang terlambat melakukan konfirmasi sehingga menyebabkan salah satu kuota telah terisi penuh, maka peserta tersebut hanya dapat mengikuti pelatihan pada tempat yang masih tersedia. Apabila peserta tidak bersedia ditempatkan pada gelombang pelatihan lainnya, maka peserta tersebut akan dianggap gugur dan posisinya akan digantikan oleh calon peserta waiting list yang telah ditentukan panitia.
    %p
      Catatan : Calon peserta waiting list akan dihubungi panitia, setelah seluruh 180 calon peserta melakukan konfirmasi.
      %br/
      Penjelasan mengenai kedua deskripsi kegiatan pelatihan FIM 14 ini, dapat disimak melalui website dan jejaring sosial official FIM mulai tanggal 10 April 2013.
    %p Pantau selalu website dan jejaring sosial official FIM untuk informasi dan pertanyaan lebih lanjut.
    %p Pemuda Indonesia, Aku untuk bangsaku !
      
    %p
      Contact Person: 
      %b
        Galang (085716789471) 
      dan 
      %b
        Ichi (08561514345)
  .span4
    %br
    .fb-like{"data-href" => "http://portal.forumindonesiamuda.org", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}
    %br
    %br
    %a.twitter-timeline{"data-widget-id" => "308020397293568000", :href => "https://twitter.com/fimnews"} Tweets by @fimnews
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
.row
  .span7.service-item
    =link_to "Calon Peserta FIM 14", profile_candidates_path, 'class' => 'btn btn-danger'
    =link_to "Statistik Pendaftar", statistics_public_path, 'class' => 'btn btn-warning'
    =link_to "Status Pendaftaran Saya", progress_status_profile_candidates_path, 'class' => 'btn btn-info'
    
    %br
    %br
      Jika Anda memakai 
      %b
        Internet Explorer (IE) 8,
      mohon upgrade ke
      %a{href: 'http://windows.microsoft.com/en-us/internet-explorer/download-ie'} 
        IE 9+, 
      %a{href: 'https://www.google.com/intl/en/chrome/browser/'}
        Chrome
      ,
      %a{href: 'http://www.apple.com/safari/'}
        Safari
      , atau
      %a{href: 'http://portableapps.com/apps/internet/firefox_portable'}
        Firefox
    %hr
    %br
    .fb-comments{"data-href" => "http://portal.forumindonesiamuda.org", "data-num-posts" => "15", "data-width" => "600"}
    