-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  %script{type: "text/javascript", src: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js'}
  %meta{property: "fb:admins", content: "100003294745679"}
  :javascript
    #{map_loader(@latitudes, @longitudes)}  


#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=268730903259240";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

.row
  .span8
    %p{:style => 'text-align: right'}
      %b
        Lihat juga: 
        =link_to "FAQ Pengumuman FIM 14", home_faq_path
        ,
        =link_to "Agenda FIM 14", home_agenda_path
    %br
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => '#tab1', 'data-toggle' => 'tab'} Informasi
        %li
          %a{:href => '#tab2', 'data-toggle' => 'tab'} Catatan Seputar FIM 14B
        %li
          %a{:href => '#tab3', 'data-toggle' => 'tab'} Susunan Acara FIM 14B
        %li
          %a{:href => '#tab4', 'data-toggle' => 'tab'} Peserta FIM 14B
        %li
          %a{:href => '#tab5', 'data-toggle' => 'tab'} Rute lokasi
      .tab-content
        .tab-pane.active#tab1
          %p 
            %b Halo Pemuda Indonesia!
      
          %p 
            Forum Indonesia Muda mengucapkan terima kasih atas partisipasi dan antusiasme yang luar biasa dari 4995 pendaftar FIM 14.
            
          %p
            Selamat kepada 180 peserta yang terpilih untuk mengikuti 
            %i Character Building and Leadership Lifeskill Training 
            Forum Indonesia Muda angkatan ke-14.
            
          %p
            Bagi teman-teman yang belum berkesempatan bergabung dengan FIM kali ini, kami yakin teman-teman adalah sosok yang hebat dan akan terus berkontribusi bagi negeri ini. Yakinlah peluang untuk maju dan berkembang sangat luas dan tetap semangat mengkolaborasikan karya dimanapun berada.
            
          %p
            Pelatihan akan dilaksanakan dalam 2 gelombang, 
            %b gelombang pertama (FIM 14 C)  
            akan dilaksanakan di 
            %b Taman Rekreasi Wiladatika, Cibubur, Jakarta Timur 
            pada tanggal 
            %b 2-5 Mei 2013
            , sedangkan 
            %b gelombang kedua (FIM 14 B)
            akan dilaksanakan di 
            %b Istana Bung Hatta dan IPDN, Bukittinggi, 
            pada tanggal
            %b 1-4 Juni 2013.
      
          %hr
          %h4
            Permohonan Surat Izin Pelatihan
      
          %p
            Bagi peserta yang membutuhkan surat izin untuk menghadiri pelatihan, harap mengikuti alur permohonan surat izin di bawah ini.
      
            %ol
              %li 
                Permohonan surat izin dilakukan pada tanggal 
                %b 16-20 Mei 2013 pukul 07.00-17.00. 
                Lewat dari waktu yang ditentukan, pembuatan surat akan dilakukan pada hari berikutnya.
              %li Surat akan dibuat dalam waktu 1 x 24 jam dan akan dikirim ke email peserta.
              %li 
                Permohonan pembuatan surat dilakukan dengan mengirimkan sms ke 
                %b Ciska (087884604451) 
                dengan format sebagai berikut :
                %ol
                  %li Nama lengkap_FIM 14 B_NIM_Fakultas_Jurusan_Universitas/Institusi
                  %li Alamat email
                  %li Tujuan surat (nama beserta jabatan)
                Contoh :
                %ol
                  %li Ciska Artika_FIM 14 B_123456789_Kedokteran dan Ilmu-ilmu Kesehatan_Kesehatan Masyarakat_Universitas Negeri Jendral Soedirman
                  %li ciska@yahoo.com
                  %li Drs. Bambang Hariyadi, M.Kes. - Dekan FKIK
      
        .tab-pane#tab2
          %p
            Peserta terpilih, harap memperhatikan dengan seksama informasi di bawah ini terkait dengan pelaksanaan pelatihan.

          %h4 Kelengkapan yang Harus Dibawa Saat Training FIM
          %p
            %ol
              %li 
                Kontrak Belajar FIM 14 yang sudah disetujui dan ditandatangani oleh peserta, bisa dilihat
                =link_to 'di sini', 'https://dl.dropboxusercontent.com/u/14346057/FIM/Kontrak%20Belajar%20FIM%2014%20B.pdf'
              %li Jaket almamater/organisasi.
              %li Kartu identitas (fotokopi KTP/KTM).
              %li Perlengkapan menginap untuk 4 hari 3 malam (formal bersepatu, termasuk 2 buah pakaian Batik).
              %li Pakaian olahraga (sepatu, baju, celana training) untuk olahraga pagi.
              %li Kebutuhan pribadi (alat tulis, peralatan ibadah, peralatan mandi, obat-obatan pribadi, payung).
              %li Botol minum (Non Plastik).
              %li Perlengkapan khusus (jika ada) untuk tampil di Api Ekspresi.
              %li Membawa 3 buah buku cerita/pengetahuan ANAK (usia SD) untuk disumbangkan ke Rumbel FIM seluruh Indonesia.
              %li Membawa barang khas daerah masing masing untuk sesi tukar kado antar peserta.
  
            *Rumbel atau rumah belajar adalah salah satu bentuk social project dari Forum Indonesia Muda; sarana dan aktivitas pendidikan karakter terhadap anak-anak usia sekolah. Rumbel KITA berlokasi di Cimanggis; Rumbel HORE berlokasi di Babakan Lio, Balumbang Jaya, Bogor; Rumbel Riksa berlokasi di Bandung; dan Taman Baca FIM Banua yang berlokasi di Banjarbaru, Kalimantan Selatan.

          %h4 Informasi Tambahan
          %p
            %ol
              %li Diperbolehkan membawa alat dokumentasi, asal tidak mengganggu ketertiban acara.
              %li Demi keamanan dan kenyamanan bersama, tidak perlu membawa perhiasan dan barang berharga lainnya.
              %li Untuk setiap kelompok disarankan membawa laptop (minimal 1)
              %li Bagi peserta yang akan membawa laptop, laptop hanya bisa digunakan di luar acara pembekalan materi (kecuali diinformasikan berbeda oleh panitia), dan harap menyiapkan perlengkapan pendukung (roll kabel dll) sendiri dan menjaga keamanan barang masing-masing.
              %li 
                Peserta harus sudah berada di tempat pelatihan (Institut Pemerintahan Dalam Negeri, Bukittinggi) pada tanggal 
                %b 31 Mei 2013 
                sebelum pukul 
                %b 16.00 WIB 
                dan peserta wajib memberitahu waktu kedatangan kepada panitia (terutama untuk peserta dari luar kota yang datang lebih awal) paling lambat tanggal 
                %b 23 Mei 2013 
                melalui sms yang dilayangkan pada 
                %b Riesni (085692515418/ 087881111888). 
                Bagi peserta yang tiba di lokasi sebelum pelatihan, asrama peserta sudah dapat digunakan sejak tanggal 31 Mei 2013 pukul 13.00 WIB. Adapun untuk konsumsi peserta sebelum pelatihan tetap menjadi tanggung jawab peserta, panitia yang standby akan bantu memfasilitasi peserta. 
              %li 
                Acara pelatihan akan 
                %b selesai pada 4 Juni 2013 pukul 18.00 WIB. 
                Berkenaan dengan pembelian tiket pulang, jika peserta membeli tiket pulang sendiri, maka harap 
                %b jangan membeli tiket yang waktu keberangkatannya berdekatan dengan waktu berakhirnya acara.
              
          %p Jika ada pertanyaan mengenai catatan seputar pelatihan, silakan menghubungi narahubung pelatihan.
          %p Terimakasih :)

        .tab-pane#tab3
          %p
            Susunan Acara FIM 14B bisa dilihat
            =link_to 'di sini', 'https://dl.dropboxusercontent.com/u/14346057/FIM/Susunan%20Acara%20FIM%2014%20B.pdf'

        .tab-pane#tab4
          %ul
            %li
              =link_to 'Daftar kelompok diskusi', 'https://dl.dropboxusercontent.com/u/14346057/FIM/Daftar%20Kelompok%20Diskusi%2014%20B.pdf'
            %li
              =link_to 'Daftar kelompok api ekspresi', 'https://dl.dropboxusercontent.com/u/14346057/FIM/Daftar%20Kelompok%20Api%20Ekspresi%2014B.pdf'
          %p
            %table.table.table-strip.table-condensed
              %thead
                %tr
                  %th No
                  %th Nama
                  %th Institusi
              %tbody
                :plain
                  <tr><td>1</td><td>Abdul Aziz</td><td>Universitas Indonesia</td></tr>
                  <tr><td>2</td><td>Ahmad Gusra</td><td>Universitas Syiah Kuala</td></tr>
                  <tr><td>3</td><td>Alfian Nur</td><td>Universitas Lambung Mangkurat</td></tr>
                  <tr><td>4</td><td>Amicytia Nadzilah</td><td>Universitas Al Azhar Indonesia</td></tr>
                  <tr><td>5</td><td>Amrullah</td><td>Universitas Syiah Kuala</td></tr>
                  <tr><td>6</td><td>Anik Imawati Nur Rohimah</td><td>Universitas Brawijaya</td></tr>
                  <tr><td>7</td><td>Anisah Khayrani Hasibuan</td><td>Universitas Andalas</td></tr>
                  <tr><td>8</td><td>Annisa Rahmani</td><td>Universitas Islam Al-Azhar Mataram</td></tr>
                  <tr><td>9</td><td>Ardiles</td><td>Universitas Negeri Padang</td></tr>
                  <tr><td>10</td><td>Asti Kumala Putri</td><td>Universitas Andalas</td></tr>
                  <tr><td>11</td><td>Azhar Nasih Ulwan</td><td>Universitas Negeri Yogyakarta</td></tr>
                  <tr><td>12</td><td>Azzam Ghozi Ahmad</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>13</td><td>Diantoro Deka Saputra</td><td>Universitas Lampung</td></tr>
                  <tr><td>14</td><td>Dwi Purwani</td><td>Universitas Tanjungpura</td></tr>
                  <tr><td>15</td><td>Dwi Yusmi Rahmawati</td><td>Universitas Mulawarman</td></tr>
                  <tr><td>16</td><td>Edwina Fiqhe Anandita</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>17</td><td>Elis Siti Toyibah</td><td>Universitas Brawijaya</td></tr>
                  <tr><td>18</td><td>Erlangga Ryansha</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>19</td><td>Febby Risti Widjayanto</td><td>Universitas Airlangga</td></tr>
                  <tr><td>20</td><td>Hafidz Ilman Albana</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>21</td><td>Hamdan Ardiansyah</td><td>Universitas Pendidikan Indonesia</td></tr>
                  <tr><td>22</td><td>Heru Darmawan</td><td>Universitas Sriwijaya</td></tr>
                  <tr><td>23</td><td>Idris Ahmad</td><td>Universitas Indonesia</td></tr>
                  <tr><td>24</td><td>Imron Setiyadi</td><td>Universitas Negeri Semarang</td></tr>
                  <tr><td>25</td><td>Ismail</td><td>Universitas Hasanuddin</td></tr>
                  <tr><td>26</td><td>Jhon Avrianto Lebu</td><td>Universitas Nusa Cendana</td></tr>
                  <tr><td>27</td><td>Ken Sukmaning Gayatri Hutomo</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>28</td><td>Khairul Umam</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>29</td><td>Lisfatul Fatinah</td><td>Universitas Negeri Jakarta</td></tr>
                  <tr><td>30</td><td>Maya Aprilia Wijayanti</td><td>Universitas Brawijaya</td></tr>
                  <tr><td>31</td><td>Maysarah</td><td>Universitas Sumatera Utara</td></tr>
                  <tr><td>32</td><td>Milwan Akbar Gunawan</td><td>Politeknik Negeri Batam</td></tr>
                  <tr><td>33</td><td>Mishbahul Jannah</td><td>Universiti Teknologi Malaysia</td></tr>
                  <tr><td>34</td><td>Mizanul Haq</td><td>Universitas Diponegoro</td></tr>
                  <tr><td>35</td><td>Mochamad Tian Syaputra</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>36</td><td>Moh. Lutfi Baihaqie</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>37</td><td>Mohammad Wildan Alfian</td><td>Institut Teknologi Bandung</td></tr>
                  <tr><td>38</td><td>Muhammad Rizki</td><td>Universitas Padjadjaran</td></tr>
                  <tr><td>39</td><td>Muhammad Zulfikar</td><td>Universitas Sriwijaya</td></tr>
                  <tr><td>40</td><td>Myra Mentari</td><td>University of Delhi</td></tr>                  
                  <tr><td>41</td><td>Novi Yanti</td><td>Universitas Riau</td></tr>
                  <tr><td>42</td><td>Nurhalifah</td><td>Politeknik Negeri Batam</td></tr>
                  <tr><td>43</td><td>Nurhayati</td><td>Universitas Hasanuddin</td></tr>
                  <tr><td>44</td><td>Otik Diarshita Wardani</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>45</td><td>Rajif Gandi</td><td>Universitas Andalas</td></tr>
                  <tr><td>46</td><td>Retno Wahyuningtyas</td><td>Universitas Bengkulu</td></tr>
                  <tr><td>47</td><td>Ricky Prawira</td><td>STIKES Perdhaki Charitas Palembang</td></tr>
                  <tr><td>48</td><td>Rino Ferdian Surakusumah</td><td>Universiti Teknologi Malaysia</td></tr>
                  <tr><td>49</td><td>Roby Arjuna</td><td>Universitas Negeri Padang</td></tr>
                  <tr><td>50</td><td>Roi Rahmat</td><td>Universitas Negeri Gorontalo</td></tr>
                  <tr><td>51</td><td>Roswitha Muntiyarso</td><td>Nanyang Technological University</td></tr>
                  <tr><td>52</td><td>Saddam Azhar Pasaribu</td><td>Universitas Negeri Medan</td></tr>
                  <tr><td>53</td><td>Sari Khairunnisa</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>54</td><td>Sauqina</td><td>Universitas Lambung Mangkurat</td></tr>
                  <tr><td>55</td><td>Suhery Handoko</td><td>STKIP Surya</td></tr>
                  <tr><td>56</td><td>Suprapto</td><td>STAIN Pontianak</td></tr>
                  <tr><td>57</td><td>Syafrizal. M</td><td>Universitas Riau</td></tr>
                  <tr><td>58</td><td>Taufiq Kurniawan</td><td>Universitas Negeri Yogyakarta</td></tr>
                  <tr><td>59</td><td>Tridai Sepitri</td><td>IAIN Sultan Thaha Saifuddin Jambi</td></tr>
                  <tr><td>60</td><td>Ya Muhammad Maulidin</td><td>Politeknik Negeri Pontianak</td></tr>
                  <tr><td>61</td><td>Zaenul Akbar Santoso</td><td>LNG Academy PNJ - PT Badak NGL</td></tr>
                  <tr><td>62</td><td>Zahra Khalizha</td><td>Universitas Sultan Ageng Tirtayasa</td></tr>
                  <tr><td>63</td><td>Zulfikar</td><td>Universitas Diponegoro</td></tr>
      
        .tab-pane#tab5
          %p
            Perjalanan dari Bandar Udara Internasional Minangkabau menuju IPDN Baso membutuhkan waktu selama 2,5-3 jam. Berikut ini beberapa alternatif rute transportasi yang bisa Anda gunakan:
          %h4 
            1. Bus Penjemputan
          %p
            Bagi rekan-rekan yang mendarat di bandara pada waktu pagi hingga siang hari, panitia menyediakan bus penjemputan pada waktu tertentu :
          %ul
            %li I : 10.00-11.30 WIB
            %li II : 13.00-15.30 WIB
          %h4
            2. Tranex (bus bandara)
          %p
            Dari bandara, rekan-rekan naik Tranex tujuan Kota Padang (kisaran biaya Rp18.000), turun di pool Tranex tujuan Payakumbuh. Kemudian, naik Tranex tujuan Payakumbuh (kisaran biaya Rp20.000-25.000), turun di Kampus IPDN Baso.
          %p
            Tranex dari bandara ini hanya tersedia hingga pukul 20.00 WIB.
          %p
            =image_tag('https://dl.dropboxusercontent.com/u/14346057/FIM/Rute%2014%20B.JPG')
          %h4
            3. Travel
          %p
            Bagi rekan-rekan yang mendarat di bandara melebihi pukul 20.00 WIB, dapat menggunakan travel (kisaran biaya Rp 45.000-50.000) untuk sampai ke IPDN Baso.
          %p
            Info lebih lanjut mengenai bus penjemputan, Tranex, atau travel, silakan menghubungi narahubung Riesni (085692515418/087881111888).
    %hr      
    %p
      Contact Person: 
      %b
        Ibam (081224713578) dan Riesni (085692515418/ 087881111888)
  .span4
    %br
    .fb-like{"data-href" => "http://portal.forumindonesiamuda.org", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}
    %br
    %br
    %a.twitter-timeline{"data-widget-id" => "308020397293568000", :href => "https://twitter.com/fimnews"} Tweets by @fimnews
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
.row
  .span7.service-item
    =link_to "Semua Pendaftar FIM 14", profile_candidates_path, 'class' => 'btn btn-danger'
    =link_to "Statistik Pendaftar", statistics_public_path, 'class' => 'btn btn-warning'
    
    %hr
    %br
    .fb-comments{"data-href" => "http://portal.forumindonesiamuda.org", "data-num-posts" => "15", "data-width" => "600"}
    