-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  %script{type: "text/javascript", src: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js'}
  %meta{property: "fb:admins", content: "100003294745679"}
  :javascript
    #{map_loader(@latitudes, @longitudes)}  


#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=268730903259240";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

.row
  .span8
    %p{:style => 'text-align: right'}
      %b
        Lihat juga: 
        =link_to "FAQ Pengumuman FIM 14", home_faq_path
        ,
        =link_to "Agenda FIM 14", home_agenda_path
    %br
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => '#tab1', 'data-toggle' => 'tab'} Informasi
        %li
          %a{:href => '#tab2', 'data-toggle' => 'tab'} Catatan Seputar FIM 14C
        %li
          %a{:href => '#tab3', 'data-toggle' => 'tab'} Susunan Acara FIM 14C
        %li
          %a{:href => '#tab4', 'data-toggle' => 'tab'} Peserta FIM 14C
        %li
          %a{:href => '#tab5', 'data-toggle' => 'tab'} Peserta FIM 14B
      .tab-content
        .tab-pane.active#tab1
          %p 
            %b Halo Pemuda Indonesia!
      
          %p 
            Forum Indonesia Muda mengucapkan terima kasih atas partisipasi dan antusiasme yang luar biasa dari 4995 pendaftar FIM 14.
            
          %p
            Selamat kepada 180 peserta yang terpilih untuk mengikuti 
            %i Character Building and Leadership Lifeskill Training 
            Forum Indonesia Muda angkatan ke-14.
            
          %p
            Bagi teman-teman yang belum berkesempatan bergabung dengan FIM kali ini, kami yakin teman-teman adalah sosok yang hebat dan akan terus berkontribusi bagi negeri ini. Yakinlah peluang untuk maju dan berkembang sangat luas dan tetap semangat mengkolaborasikan karya dimanapun berada.
            
          %p
            Pelatihan akan dilaksanakan dalam 2 gelombang, 
            %b gelombang pertama (FIM 14 C)  
            akan dilaksanakan di 
            %b Taman Rekreasi Wiladatika, Cibubur, Jakarta Timur 
            pada tanggal 
            %b 2-5 Mei 2013
            , sedangkan 
            %b gelombang kedua (FIM 14 B)
            akan dilaksanakan di 
            %b Istana Bung Hatta dan IPDN, Bukittinggi, 
            pada tanggal
            %b 25-28 Mei 2013.
      
          %hr
          %h4
            Permohonan Surat Izin Pelatihan
      
          %p
            Bagi peserta yang membutuhkan surat izin untuk menghadiri pelatihan, harap mengikuti alur permohonan surat izin di bawah ini.
      
            %ol
              %li 
                Permohonan surat izin dilakukan pada tanggal 
                %b 18-22 April 2013 pukul 07.00-17.00. 
                Lewat dari waktu yang ditentukan, pembuatan surat akan dilakukan pada hari berikutnya.
              %li Surat akan dibuat dalam waktu 1 x 24 jam dan akan dikirim ke email peserta.
              %li 
                Permohonan pembuatan surat dilakukan dengan mengirimkan sms ke 
                %b Ciska (087884604451) 
                dengan format sebagai berikut :
                %ol
                  %li Nama lengkap_FIM 14 C/FIM 14 B_NIM_Fakultas_Jurusan_Universitas/Institusi
                  %li Alamat email
                  %li Tujuan surat (nama beserta jabatan)
                Contoh :
                %ol
                  %li Ciska Artika_FIM 14 B_123456789_Kedokteran dan Ilmu-ilmu Kesehatan_Kesehatan Masyarakat_Universitas Negeri Jendral Soedirman
                  %li ciska@yahoo.com
                  %li Drs. Bambang Hariyadi, M.Kes. - Dekan FKIK
      
        .tab-pane#tab2
          %p
            Peserta terpilih, harap memperhatikan dengan seksama informasi di bawah ini terkait dengan pelaksanaan pelatihan.

          %h4 Kelengkapan yang Harus Dibawa Saat Training FIM 14 Cibubur
          %p
            %ol
              %li 
                Kontrak Belajar FIM 14 yang sudah disetujui dan ditandatangani oleh peserta, bisa dilihat 
                =link_to 'di sini', url_for('Kontrak Belajar FIM 14.doc')
              %li Jaket almamater/organisasi.
              %li Kartu identitas (fotokopi KTP/KTM).
              %li Perlengkapan menginap untuk 4 hari 3 malam di Cibubur (formal bersepatu, termasuk 1 buah pakaian Batik).
              %li Pakaian olahraga (sepatu, baju, celana training) untuk olahraga pagi dan outbond (2 pasang).
              %li Kebutuhan pribadi (alat tulis, peralatan ibadah, peralatan mandi, obat-obatan pribadi, payung).
              %li Botol minum (Non Plastik).
              %li Perlengkapan khusus (jika ada) untuk tampil di Api Ekspresi.     
              %li Membawa 3 buah buku cerita/pengetahuan ANAK (usia SD) untuk disumbangkan ke Rumbel FIM seluruh Indonesia.
              %li Membawa barang khas daerah masing masing untuk sesi tukar kado antar peserta.
  
            *Rumbel atau rumah belajar adalah salah satu bentuk social project dari Forum Indonesia Muda; sarana dan aktivitas pendidikan karakter terhadap anak-anak usia sekolah. Rumbel KITA berlokasi di Cimanggis; Rumbel HORE berlokasi di Babakan Lio, Balumbang Jaya, Bogor; Rumbel Riksa berlokasi di Bandung; dan Taman Baca FIM Banua yang berlokasi di Banjarbaru, Kalimantan Selatan.

          %h4 Informasi Tambahan
          %p
            %ol
              %li Diperbolehkan membawa alat dokumentasi, asal tidak mengganggu ketertiban acara.
              %li Demi keamanan dan kenyamanan bersama, tidak perlu membawa perhiasan dan barang berharga lainnya.
              %li Untuk setiap kelompok disarankan membawa laptop (minimal 1)
              %li Bagi peserta yang akan membawa laptop, laptop hanya bisa digunakan di luar acara pembekalan materi (kecuali diinformasikan berbeda oleh panitia), dan harap menyiapkan perlengkapan pendukung (roll kabel dll) sendiri dan menjaga keamanan barang masing-masing.
              %li 
                Peserta harus sudah berada di tempat pelatihan pada tanggal 
                %b 2 Mei 2013 
                sebelum pukul 
                %b 06.00 WIB 
                dan peserta wajib memberitahu waktu kedatangan kepada panitia (terutama untuk peserta dari luar kota yang datang lebih awal) paling lambat tanggal 
                %b 24 April 2013 
                melalui sms yang dilayangkan pada 
                %b Ichi (08561514345). 
                Bagi peserta yang tiba di lokasi sebelum pelatihan, asrama peserta sudah dapat digunakan sejak tanggal 1 Mei 2013 pukul 19.00 WIB. Adapun untuk konsumsi peserta sebelum pelatihan tetap menjadi tanggung jawab peserta, panitia yang standby akan bantu memfasilitasi peserta. 
              %li 
                Untuk rute dan denah lokasi pelatihan, dapat dilihat 
                =link_to 'di sini', url_for('Rute ke Wiladatika.pdf')
              %li 
                Acara pelatihan akan 
                %b selesai pada 5 Mei 2013 pukul 17.00 WIB. 
                Berkenaan dengan pembelian tiket pulang, jika peserta membeli tiket pulang sendiri, maka harap 
                %b jangan membeli tiket yang waktu keberangkatannya berdekatan dengan waktu berakhirnya acara. Minimal, membeli tiket yang waktu keberangkatannya setelah waktu magrib. 
                Misalkan peserta menggunakan jasa kereta atau pesawat untuk pulang, maka peserta harus sudah siap dengan transportasi yang akan mengantarkan peserta dari tempat pelatihan menuju stasiun atau bandara.
              
          %p Jika ada pertanyaan mengenai catatan seputar pelatihan, silakan menghubungi narahubung pelatihan.
          %p Terimakasih :)

        .tab-pane#tab3
          %h4 Susunan Acara FIM 14, 2-5 Mei 2013
          %p
            %b Kamis, 2 Mei 2013
          %p
            %table.table.table-strip.table-condensed
              %thead
                %tr
                  %td{:style=>"width:150px"}
                  %td
              %tbody
                :plain
                  <tr><td>06.00 – 07.30 </td><td>Registrasi Peserta</td></tr>
                  <tr><td>07.30 – 08.00 </td><td>Opening Ceremony</td></tr>
                  <tr><td>08.00 – 10.00 </td><td>Keynote Speech</td></tr>
                  <tr><td>10.00 – 10.15 </td><td>Coffee break</td></tr>
                  <tr><td>10.15 – 12.15 </td><td>Stadium General : Membangun Indonesia</td></tr>
                  <tr><td>12.15 – 13.00 </td><td>Ishoma</td></tr>
                  <tr><td>13.00 – 15.15 </td><td>Sesi 1 : Mengenal Diri</td></tr>
                  <tr><td>15.15 – 15.45 </td><td>Break</td></tr>
                  <tr><td>15.45 – 18.00 </td><td>Sesi 2 : Keadilan dan Integritas</td></tr>
                  <tr><td>18.00 – 19.00 </td><td>Ishoma</td></tr>
                  <tr><td>19.00 – 21.30 </td><td>Coaching Collaboration</td></tr>
                  <tr><td>21.30 – 04.00 </td><td>Istirahat</td></tr>

          %p
            %b Jumat, 3 Mei 2013
            %table.table.table-strip.table-condensed
              %thead
                %tr
                  %td{:style=>"width:150px"}
                  %td
              %tbody
                :plain
                  <tr><td>04.00 – 05.00 </td><td>Kegiatan Kerohanian</td></tr>
                  <tr><td>05.00 – 05.45 </td><td>Olahraga Ceria</td></tr>
                  <tr><td>05.45 – 07.00 </td><td>Bersih-bersih dan sarapan</td></tr>
                  <tr><td>07.00 – 07.30 </td><td>Registrasi Peserta</td></tr>
                  <tr><td>07.30 – 09.30 </td><td>Sesi 3 : Bersahaja dan Keteladanan</td></tr>
                  <tr><td>09.30 – 09.45 </td><td>Coffee Break</td></tr>
                  <tr><td>09.45 – 11.30 </td><td>Sesi 4 : Solidaritas, Totalitas, Cinta Kasih</td></tr>
                  <tr><td>11.30 – 13.00 </td><td>Ishoma</td></tr>
                  <tr><td>13.00 – 15.15 </td><td>Sesi 5 : Talkshow Kolaborasi Karya</td></tr>
                  <tr><td>15.15 – 15.45 </td><td>Break</td></tr>
                  <tr><td>15.45 – 18.00 </td><td>Sesi 6 : Finding Your Passion</td></tr>
                  <tr><td>18.00 – 19.00 </td><td>Ishoma</td></tr>
                  <tr><td>19.00 – 21.30 </td><td>Coaching Collaboration</td></tr>
                  <tr><td>21.30 – 04.00 </td><td>Istirahat</td></tr>

          %p
            %b Sabtu, 4 Mei 2013
            %table.table.table-strip.table-condensed
              %thead
                %tr
                  %td{:style=>"width:150px"}
                  %td
              %tbody
                :plain
                  <tr><td>04.00 – 05.00 </td><td>Kegiatan Kerohanian</td></tr>
                  <tr><td>05.00 – 05.45 </td><td>Olahraga Ceria</td></tr>
                  <tr><td>05.45 – 07.00 </td><td>Bersih-bersih dan sarapan</td></tr>
                  <tr><td>07.00 – 07.30 </td><td>Registrasi Peserta</td></tr>
                  <tr><td>07.30 – 10.00 </td><td>Workshop Collaboration</td></tr>
                  <tr><td>10.00 – 10.15 </td><td>Coffee Break</td></tr>
                  <tr><td>10.15 – 12.15 </td><td>Workshop Collaboration</td></tr>
                  <tr><td>12.15 – 13.00 </td><td>Ishoma</td></tr>
                  <tr><td>13.00 – 15.15 </td><td>Sesi 7 : Youth & Social Problem</td></tr>
                  <tr><td>15.15 – 15.45 </td><td>Break</td></tr>
                  <tr><td>15.45 – 18.00 </td><td>FIM Regional Meet-up</td></tr>
                  <tr><td>18.00 – 19.00 </td><td>Ishoma</td></tr>
                  <tr><td>19.00 – 21.30 </td><td>Api Ekspresi</td></tr>
                  <tr><td>21.30 – 04.00 </td><td>Istirahat</td></tr>

          %p
            %b Minggu, 5 Mei 2013
            %table.table.table-strip.table-condensed
              %thead
                %tr
                  %td{:style=>"width:150px"}
                  %td
              %tbody
                :plain
                  <tr><td>04.00 – 05.00 </td><td>Kegiatan Kerohanian</td></tr>
                  <tr><td>05.00 – 06.30 </td><td>Sesi bebas</td></tr>
                  <tr><td>06.30 – 11.00 </td><td>Outbond</td></tr>
                  <tr><td>11.00 – 13.00 </td><td>Sesi Bebas & Ishoma</td></tr>
                  <tr><td>13.00 – 17.00 </td><td>Closing Ceremony</td></tr>

                  
        .tab-pane#tab4
          %p
            %ul
              %li
                %b=link_to('Daftar kelompok api ekspresi', 'https://dl.dropboxusercontent.com/u/14346057/FIM/Kelompok%20api%20ekspresi%20FIM%2014%20C.pdf')
              %li
                %b=link_to('Daftar kelompok kolaborasi', 'https://dl.dropboxusercontent.com/u/14346057/FIM/Kelompok%20kolaborasi%20FIM%2014%20C.pdf')
          %p
            %table.table.table-strip.table-condensed
              %thead
                %tr
                  %th No
                  %th Nama
                  %th Institusi
              %tbody
                :plain
                  <tr><td>1</td><td>Abdul Azis</td><td>Universitas Padjadjaran</td></tr>
                  <tr><td>2</td><td>Achmad Rifdatul Hisan</td><td>Institut Teknologi Telkom</td></tr>
                  <tr><td>3</td><td>Adi Fajar Nugraha</td><td>Universitas Sultan Ageng Tirtayasa</td></tr>
                  <tr><td>4</td><td>Ainul Maghfirah</td><td>Universitas Jember</td></tr>
                  <tr><td>5</td><td>Akhmad Fauzi</td><td>Institut Agama Islam Negeri Surakarta</td></tr>
                  <tr><td>6</td><td>Alberth Betaubun</td><td>Universitas Cendrawasih</td></tr>
                  <tr><td>7</td><td>Ali Sulas Hidayat</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>8</td><td>Ami Nitami</td><td>Universitas Negeri Semarang</td></tr>
                  <tr><td>9</td><td>Ana Ria Gustina</td><td>Universitas Jambi</td></tr>
                  <tr><td>10</td><td>Andarini Handayani</td><td>Universitas Negeri Semarang</td></tr>
                  <tr><td>11</td><td>Andina Putri Saragih</td><td>Universitas Sebelas Maret Surakarta</td></tr>
                  <tr><td>12</td><td>Andre Soetresno</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>13</td><td>Andreas Senjaya</td><td>Universitas Indonesia</td></tr>
                  <tr><td>14</td><td>Ari Herliyanto</td><td>Universitas Negeri Yogyakarta</td></tr>
                  <tr><td>15</td><td>Arief Rahman</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>16</td><td>Arsyad Azizi Iriansyah</td><td>Universitas Brawijaya</td></tr>
                  <tr><td>17</td><td>Atika Dewi Kharisma</td><td>Universitas Sriwijaya</td></tr>
                  <tr><td>18</td><td>Azhar Aziz Lubis</td><td>Universitas Negeri Medan</td></tr>
                  <tr><td>19</td><td>Azka Lathifa Zahratu Azra</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>20</td><td>Bagus Dwi Utama</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>21</td><td>Bella Yuri Kartika Putri</td><td>Universitas Airlangga</td></tr>
                  <tr><td>22</td><td>Biru Nitis Anjanie</td><td>Universitas Paramadina</td></tr>
                  <tr><td>23</td><td>Brefi Rahmat</td><td>Universitas Lambung Mangkurat</td></tr>
                  <tr><td>24</td><td>Dessy Sagita Putri Sulaeman</td><td>Universitas Padjadjaran</td></tr>
                  <tr><td>25</td><td>Devi Yustri Yeni</td><td>Universitas Udayana</td></tr>
                  <tr><td>26</td><td>Dhimas Herdianta</td><td>Universitas Jember</td></tr>
                  <tr><td>27</td><td>Dimas Prasetyo Muharam</td><td>Universitas Indonesia</td></tr>
                  <tr><td>28</td><td>Dina Oktaviana</td><td>Universitas Airlangga</td></tr>
                  <tr><td>29</td><td>Dwi Intan Af'idah</td><td>Universitas Diponegoro</td></tr>
                  <tr><td>30</td><td>Dzakiyatu Sholiha</td><td>Universitas Negeri Malang</td></tr>
                  <tr><td>31</td><td>Eka Widyaningtias</td><td>UIN Syarif Hidayatullah</td></tr>
                  <tr><td>32</td><td>Eldo Herbadella Tobing</td><td>Universitas Brawijaya</td></tr>
                  <tr><td>33</td><td>Elsa Safira Kinanti</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>34</td><td>Elsa Windiastuti</td><td>Universitas Lampung</td></tr>
                  <tr><td>35</td><td>Emy Sugiarti</td><td>Universitas Diponegoro</td></tr>
                  <tr><td>36</td><td>Ezelinnata</td><td>Universitas Pendidikan Indonesia</td></tr>
                  <tr><td>37</td><td>Fatchul Rahman Rusdin</td><td>Universitas Brawijaya</td></tr>
                  <tr><td>38</td><td>Ferawati</td><td>STAIN SAS BABEL</td></tr>
                  <tr><td>39</td><td>Firmansyah Shidiq Wardhana</td><td>University of Malaya</td></tr>
                  <tr><td>40</td><td>Fitri Fathia Paramita Kinanti</td><td>Universitas Negeri Gorontalo</td></tr>
                  <tr><td>41</td><td>Gevi Arfa</td><td>Universitas Riau</td></tr>
                  <tr><td>42</td><td>Giar Pradipta</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>43</td><td>Halimah Syofarah</td><td>Universitas Persada Indonesia YAI</td></tr>
                  <tr><td>44</td><td>Hamka</td><td>Institut Agama Islam Negeri Bengkulu</td></tr>
                  <tr><td>45</td><td>Hanifah Hasnur</td><td>Universitas Syiah Kuala</td></tr>
                  <tr><td>46</td><td>Harumi Kartini</td><td>Universitas Paramadina</td></tr>
                  <tr><td>47</td><td>Herawan Dwika Purba</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>48</td><td>Herman Abdurrahman</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>49</td><td>Hernawan Tri Wibowo</td><td>Universitas Negeri Jakarta</td></tr>
                  <tr><td>50</td><td>I Komang Eka Putra Ariyanta</td><td>Universitas Pendidikan Ganesha</td></tr>
                  <tr><td>51</td><td>I Made Chandra Mandira</td><td>Universitas Udayana</td></tr>
                  <tr><td>52</td><td>Ihsan Satriawan</td><td>Universitas Padjadjaran</td></tr>
                  <tr><td>53</td><td>Ika Rakhma Kusuma Wardhani</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>54</td><td>Ilma Alyani</td><td>Universitas Indonesia</td></tr>
                  <tr><td>55</td><td>Indah Faradisah</td><td>Universitas Bakrie</td></tr>
                  <tr><td>56</td><td>Irawan</td><td>Universitas Haluoleo</td></tr>
                  <tr><td>57</td><td>Irfan Ramdhany</td><td>Universitas Diponegoro</td></tr>
                  <tr><td>58</td><td>Ista Oktina</td><td>Universitas Jenderal Soedirman</td></tr>
                  <tr><td>59</td><td>Khairatul Ukhti</td><td>Universitas Negeri Padang</td></tr>
                  <tr><td>60</td><td>Khoerul Hamid</td><td>Universitas Musamus Merauke</td></tr>
                  <tr><td>61</td><td>Khoirun Nisak</td><td>Universitas Brawijaya</td></tr>
                  <tr><td>62</td><td>Kuncoro Probojati</td><td>Universitas Sebelas Maret Surakarta</td></tr>
                  <tr><td>63</td><td>Laely Farokhah</td><td>Universitas Pendidikan Indonesia</td></tr>
                  <tr><td>64</td><td>Lailatul Qodri</td><td>STAIN Syaikh Abdurrachman Siddiq</td></tr>
                  <tr><td>65</td><td>Listya Kurnia</td><td>Universitas Negeri Jakarta</td></tr>
                  <tr><td>66</td><td>Lucky Azizatul Lukman</td><td>Universitas Sebelas Maret Surakarta</td></tr>
                  <tr><td>67</td><td>Mardiah</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>68</td><td>Marjoana Burju Harahap</td><td>Universitas Udayana</td></tr>
                  <tr><td>69</td><td>Masyitah Polpoke</td><td>Universitas Pattimura</td></tr>
                  <tr><td>70</td><td>Mawardi Kartasasmita</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>71</td><td>Miftachul Umam</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>72</td><td>Muh. Fachri B. Paloloang</td><td>Universitas Tadulako</td></tr>
                  <tr><td>73</td><td>Muhajir</td><td>IAIN Ar Raniry Banda Aceh</td></tr>
                  <tr><td>74</td><td>Muhammad Abdul Majid</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>75</td><td>Muhammad Hidayat</td><td>Universitas Mataram</td></tr>
                  <tr><td>76</td><td>Mujahid Zulfadli Aulia Rahman</td><td>Universitas Negeri Makassar</td></tr>
                  <tr><td>77</td><td>Mukhamad Bagus Setiawan</td><td>Universitas Jember</td></tr>
                  <tr><td>78</td><td>Mukti Prasaja</td><td>Universitas Negeri Malang</td></tr>
                  <tr><td>79</td><td>Musyfiqul Khoir</td><td>Universitas Islam Negeri Syarif Hidayatullah</td></tr>
                  <tr><td>80</td><td>Nanda Gusti Rahmat</td><td>Universitas Jenderal Soedirman</td></tr>
                  <tr><td>81</td><td>Nikita Puspita Ing Endit</td><td>Universitas Indonesia</td></tr>
                  <tr><td>82</td><td>Nofalia Nurfitriani</td><td>Universitas Padjadjaran</td></tr>
                  <tr><td>83</td><td>Putu Noviani Widia Prasanti</td><td>Universitas Udayana</td></tr>
                  <tr><td>84</td><td>Ragwan Al-Aydrus</td><td>UIN Maulana Malik Ibrahim Malang</td></tr>
                  <tr><td>85</td><td>Ramadhan Nawawi</td><td>Universitas Lampung</td></tr>
                  <tr><td>86</td><td>Ranty Fatriana Puteri</td><td>Universitas Lambung Mangkurat</td></tr>
                  <tr><td>87</td><td>Reca Febriany</td><td>Universitas Pattimura</td></tr>
                  <tr><td>88</td><td>Rekha Kautsari</td><td>Universitas Muhammadiyah Jakarta</td></tr>
                  <tr><td>89</td><td>Renzavaldy Rusly</td><td>Universitas Padjadjaran</td></tr>
                  <tr><td>90</td><td>Reza Adi Pratama</td><td>Universitas Brawijaya</td></tr>
                  <tr><td>91</td><td>Rici Wiliyanti</td><td>Universitas Bengkulu</td></tr>
                  <tr><td>92</td><td>Ridwan Rosman Syarif</td><td>Universitas Andalas</td></tr>
                  <tr><td>93</td><td>Rizal Eko Kurniawan</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>94</td><td>Rizal Romadhoni</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>95</td><td>Rizka Irnawati</td><td>Politeknik Negeri Jakarta</td></tr>
                  <tr><td>96</td><td>Roch Galih Saktya Candraningrum</td><td>Universitas Sebelas Maret Surakarta</td></tr>
                  <tr><td>97</td><td>Saipul Anwar Lubis</td><td>Universitas Sumatera Utara</td></tr>
                  <tr><td>98</td><td>Samuel Womsiwor</td><td>Universitas Cendrawasih</td></tr>
                  <tr><td>99</td><td>Saptiana Mardhiyah</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>100</td><td>Scientia Afifah Taibah</td><td>Universitas Indonesia</td></tr>
                  <tr><td>101</td><td>Septian Pratama Ambehy</td><td>Universitas Sriwijaya</td></tr>
                  <tr><td>102</td><td>Shielda Fahreisa Ranie</td><td>Institut Manajemen Telkom</td></tr>
                  <tr><td>103</td><td>Siti Lutfiyah Masruroh</td><td>Universitas Negeri Malang</td></tr>
                  <tr><td>104</td><td>Suhendar Dwi Putra</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>105</td><td>Suka Pradita</td><td>Institut Teknologi Bandung</td></tr>
                  <tr><td>106</td><td>Sunardi</td><td>Universitas Al-Asyariah Mandar</td></tr>
                  <tr><td>107</td><td>Sundi Roberth Wayangkau</td><td>Universitas Cendrawasih</td></tr>
                  <tr><td>108</td><td>Suriansyah</td><td>Universitas Udayana</td></tr>
                  <tr><td>109</td><td>Sutrisno</td><td>Universitas Mulawarman</td></tr>
                  <tr><td>110</td><td>Suwito</td><td>Universitas Tridinanti Palembang</td></tr>
                  <tr><td>111</td><td>Syafira Fitri Auliya</td><td>Institut Teknologi Bandung</td></tr>
                  <tr><td>112</td><td>Syarifatun Nisa Nh</td><td>Universitas Islam Bandung</td></tr>
                  <tr><td>113</td><td>Ummul Hasanah</td><td>Universitas Muhammadiyah Malang</td></tr>
                  <tr><td>114</td><td>Winda Iriani</td><td>Institut Teknologi Bandung</td></tr>
                  <tr><td>115</td><td>Wiranata</td><td>Institut Koperasi Indonesia</td></tr>
                  <tr><td>116</td><td>Yaumil</td><td>Universitas Tadulako</td></tr>
                  <tr><td>117</td><td>Yudhi Aulia</td><td>Universitas Andalas</td></tr>
                  <tr><td>118</td><td>Yudistira Anugrahno Pratama</td><td>Universitas Palangka Raya</td></tr>
                  <tr><td>119</td><td>Yuli Setiawan</td><td>Institut Manajemen Telkom</td></tr>
                  <tr><td>120</td><td>Yunus Zarkati Kurdiawan</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>121</td><td>Yusri</td><td>Universitas Negeri Makassar</td></tr>
    
        .tab-pane#tab5
          %p
            %table.table.table-strip.table-condensed
              %thead
                %tr
                  %th No
                  %th Nama
                  %th Institusi
              %tbody
                :plain
                  <tr><td>1</td><td>Abdul Aziz</td><td>Universitas Indonesia</td></tr>
                  <tr><td>2</td><td>Ahmad Gusra</td><td>Universitas Syiah Kuala</td></tr>
                  <tr><td>3</td><td>Alfian Nur</td><td>Universitas Lambung Mangkurat</td></tr>
                  <tr><td>4</td><td>Amicytia Nadzilah</td><td>Universitas Al Azhar Indonesia</td></tr>
                  <tr><td>5</td><td>Amrullah</td><td>Universitas Syiah Kuala</td></tr>
                  <tr><td>6</td><td>Anik Imawati Nur Rohimah</td><td>Universitas Brawijaya</td></tr>
                  <tr><td>7</td><td>Anisah Khayrani Hasibuan</td><td>Universitas Andalas</td></tr>
                  <tr><td>8</td><td>Annisa Rahmani</td><td>Universitas Islam Al-Azhar Mataram</td></tr>
                  <tr><td>9</td><td>Ardiles</td><td>Universitas Negeri Padang</td></tr>
                  <tr><td>10</td><td>Azhar Nasih Ulwan</td><td>Universitas Negeri Yogyakarta</td></tr>
                  <tr><td>11</td><td>Azzam Ghozi Ahmad</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>12</td><td>Diantoro Deka Saputra</td><td>Universitas Lampung</td></tr>
                  <tr><td>13</td><td>Dwi Purwani</td><td>Universitas Tanjungpura</td></tr>
                  <tr><td>14</td><td>Dwi Yusmi Rahmawati</td><td>Universitas Mulawarman</td></tr>
                  <tr><td>15</td><td>Dyah Ismiranty</td><td>Universitas Padjadjaran</td></tr>
                  <tr><td>16</td><td>Edwina Fiqhe Anandita</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>17</td><td>Elis Siti Toyibah</td><td>Universitas Brawijaya</td></tr>
                  <tr><td>18</td><td>Erlangga Ryansha</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>19</td><td>Febby Risti Widjayanto</td><td>Universitas Airlangga</td></tr>
                  <tr><td>20</td><td>Hafidz Ilman Albana</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>21</td><td>Hamdan Ardiansyah</td><td>Universitas Pendidikan Indonesia</td></tr>
                  <tr><td>22</td><td>Heru Darmawan</td><td>Universitas Sriwijaya</td></tr>
                  <tr><td>23</td><td>Idris Ahmad</td><td>Universitas Indonesia</td></tr>
                  <tr><td>24</td><td>Imron Setiyadi</td><td>Universitas Negeri Semarang</td></tr>
                  <tr><td>25</td><td>Ismail</td><td>Universitas Hasanuddin</td></tr>
                  <tr><td>26</td><td>Jhon Avrianto Lebu</td><td>Universitas Nusa Cendana</td></tr>
                  <tr><td>27</td><td>Ken Sukmaning Gayatri Hutomo</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>28</td><td>Khairul Umam</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>29</td><td>Lisfatul Fatinah</td><td>Universitas Negeri Jakarta</td></tr>
                  <tr><td>30</td><td>Marcel Tirawan</td><td>Institut Teknologi Bandung</td></tr>
                  <tr><td>31</td><td>Maya Aprilia Wijayanti</td><td>Universitas Brawijaya</td></tr>
                  <tr><td>32</td><td>Maysarah</td><td>Universitas Sumatera Utara</td></tr>
                  <tr><td>33</td><td>Milwan Akbar Gunawan</td><td>Politeknik Negeri Batam</td></tr>
                  <tr><td>34</td><td>Mishbahul Jannah</td><td>Universiti Teknologi Malaysia</td></tr>
                  <tr><td>35</td><td>Mochamad Tian Syaputra</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>36</td><td>Moh. Lutfi Baihaqie</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>37</td><td>Mohammad Wildan Alfian</td><td>Institut Teknologi Bandung</td></tr>
                  <tr><td>38</td><td>Muhammad Rizki</td><td>Universitas Padjadjaran</td></tr>
                  <tr><td>39</td><td>Nurhalifah</td><td>Politeknik Negeri Batam</td></tr>
                  <tr><td>40</td><td>Nurhayati</td><td>Universitas Hasanuddin</td></tr>
                  <tr><td>41</td><td>Otik Diarshita Wardani</td><td>Universitas Gadjah Mada</td></tr>
                  <tr><td>42</td><td>Retno Wahyuningtyas</td><td>Universitas Bengkulu</td></tr>
                  <tr><td>43</td><td>Ricky Prawira</td><td>STIKES Perdhaki Charitas Palembang</td></tr>
                  <tr><td>44</td><td>Rino Ferdian Surakusumah</td><td>Universiti Teknologi Malaysia</td></tr>
                  <tr><td>45</td><td>Risky Ademaisal</td><td>Politeknik Caltex Riau</td></tr>
                  <tr><td>46</td><td>Rizky Primachristi Ryantira Pongdatu</td><td>Institut Teknologi Sepuluh Nopember</td></tr>
                  <tr><td>47</td><td>Roi Rahmat</td><td>Universitas Negeri Gorontalo</td></tr>
                  <tr><td>48</td><td>Roswitha Muntiyarso</td><td>Nanyang Technological University</td></tr>
                  <tr><td>49</td><td>Saddam Azhar Pasaribu</td><td>Universitas Negeri Medan</td></tr>
                  <tr><td>50</td><td>Sari Khairunnisa</td><td>Institut Pertanian Bogor</td></tr>
                  <tr><td>51</td><td>Sauqina</td><td>Universitas Lambung Mangkurat</td></tr>
                  <tr><td>52</td><td>Suhery Handoko</td><td>STKIP Surya</td></tr>
                  <tr><td>53</td><td>Suprapto</td><td>STAIN Pontianak</td></tr>
                  <tr><td>54</td><td>Syafrizal. M</td><td>Universitas Riau</td></tr>
                  <tr><td>55</td><td>Taufiq Kurniawan</td><td>Universitas Negeri Yogyakarta</td></tr>
                  <tr><td>56</td><td>Tridai Sepitri</td><td>IAIN Sultan Thaha Saifuddin Jambi</td></tr>
                  <tr><td>57</td><td>Ya Muhammad Maulidin</td><td>Politeknik Negeri Pontianak</td></tr>
                  <tr><td>58</td><td>Zaenul Akbar Santoso</td><td>LNG Academy PNJ - PT Badak NGL</td></tr>
                  <tr><td>59</td><td>Zahra Khalizha</td><td>Universitas Sultan Ageng Tirtayasa</td></tr>
                  <tr><td>60</td><td>Zulfikar</td><td>Universitas Diponegoro</td></tr>
      
    %hr      
    %p
      Contact Person: 
      %b
        Galang (085716789471) dan Ichi (08561514345)
  .span4
    %br
    .fb-like{"data-href" => "http://portal.forumindonesiamuda.org", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}
    %br
    %br
    %a.twitter-timeline{"data-widget-id" => "308020397293568000", :href => "https://twitter.com/fimnews"} Tweets by @fimnews
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
.row
  .span7.service-item
    =link_to "Semua Pendaftar FIM 14", profile_candidates_path, 'class' => 'btn btn-danger'
    =link_to "Statistik Pendaftar", statistics_public_path, 'class' => 'btn btn-warning'
    
    %hr
    %br
    .fb-comments{"data-href" => "http://portal.forumindonesiamuda.org", "data-num-posts" => "15", "data-width" => "600"}
    