-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  %script{type: "text/javascript", src: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js'}

  :javascript
    #{map_loader(@latitudes, @longitudes)}  

.row
  .span8
    #map_canvas{:style => "width:800px; height:400px"}
  
    %h3 Data pendaftar FIM 14
          
    %table.table.table-condensed
      %tr
        %th Fullname
        %th Gender
        %th School
    
      - @profiles.each do |profile|
        %tr
          %td= profile.fullname
          %td= profile.gender
          %td= profile.school

