-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  %script{type: "text/javascript", src: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js'}
  %meta{property: "fb:admins", content: "100003294745679"}
  :javascript
    #{map_loader(@latitudes, @longitudes)}  


#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=268730903259240";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  
.row
  .span5
    %h3 Forum Indonesia Muda
    %p
      %b
        FIM (Forum Indonesia Muda)
      adalah sebuah forum independen yang beranggotakan pemuda dan mahasiswa dari berbagai perguruan tinggi maupun organisasi kepemudaan di Indonesia, dari Aceh sampai Papua, bahkan yang sedang berada di luar negeri.
    %p
      Setelah sukses menyelenggarakan Leadership & Life Skill Training, untuk empat belas angkatan, tahun ini FIM kembali mengadakan pelatihan untuk angkatan ke-15. 
      %b FIM 14 
      akan diselenggarakan pada tanggal 2 – 5 Mei 2013 di Jakarta.

    %p
      Pendaftaran dibuka antara tanggal 4 Maret – 4 April 2013. Berkas peserta akan diseleksi sesuai prosedur, untuk memenuhi kapasitas peserta FIM 14 sebanyak 120 orang, dengan batas usia 
      %b 18-30
      tahun. Peserta terpilih akan diumumkan pada tanggal 15 April 2013.
    %p
      Informasi lebih lanjut soal FIM dapat dilihat di 
      %a{href: "http://www.forumindonesiamuda.org"}
        forumindonesiamuda.org, 
      Twitter FIM 
      %a{href: "http://twitter.com/fimnews"}
        @fimnews
      , maupun menghubungi 
      %a{href: "mailto:info@forumindonesiamuda.org"}
        info@forumindonesiamuda.org

    %p
      Contact Person: 
      %b
        Galang (085716789471) 
      dan 
      %b
        Ichi (08561514345)
  .span7
    %h4 Rekapitulasi pendaftar FIM 14
    #map_canvas{:style => "width:650px; height:350px"}
.row
  .span7.service-item
    %h4
      %i.icon-file>
      FIM 14
    =link_to new_profile_candidate_path do
      %button.btn.btn-primary{:type => "button"} Pendaftaran
    =link_to profile_candidates_path do
      %button.btn.btn-primary{:type => "submit"} Calon Peserta FIM 14
    %br
    %br
      Jika Anda memakai 
      %b
        Internet Explorer (IE) 8,
      mohon upgrade ke
      %a{href: 'http://windows.microsoft.com/en-us/internet-explorer/download-ie'} 
        IE 9+, 
      %a{href: 'https://www.google.com/intl/en/chrome/browser/'}
        Chrome
      ,
      %a{href: 'http://www.apple.com/safari/'}
        Safari
      , atau
      %a{href: 'http://portableapps.com/apps/internet/firefox_portable'}
        Firefox
    %hr
    %br
    .fb-like{"data-href" => "http://portal.forumindonesiamuda.org", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}
    %br
    %br
    .fb-comments{"data-href" => "http://portal.forumindonesiamuda.org", "data-num-posts" => "15", "data-width" => "600"}
    
  .span4
    %a.twitter-timeline{"data-widget-id" => "308020397293568000", :href => "https://twitter.com/fimnews"} Tweets by @fimnews
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    