-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  %script{type: "text/javascript", src: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js'}
  %meta{property: "fb:admins", content: "100003294745679"}
  :javascript
    #{map_loader(@latitudes, @longitudes)}

#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=268730903259240";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

/ Modal
#myModal.modal.hide.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", "data-dismiss" => "modal", :type => "button"} ×
    %h4#myModalLabel Portal Pendafataran FIM 15
  .modal-body
    %p 
      Selamat datang di Portal Pendaftaran FIM 15!
    %p
      Agar selalu mendapatkan informasi terbaru tentang FIM 15, kami rekomendasikan untuk like Facebook 
      %b Forum Indonesia Muda
      atau follow Twitter
      %b @fimnews
    %hr
    .fb-like-box{"data-header" => "false", "data-href" => "https://www.facebook.com/pages/Forum-Indonesia-Muda/125650577511664", "data-show-border" => "false", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "292"}
    %br
    %a.twitter-follow-button{"data-lang" => "id", "data-show-count" => "true", "data-size" => "large", :href => "https://twitter.com/fimnews"} Ikuti @fimnews
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  .modal-footer
    %button.btn.btn-primary{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    
/
  .row
    .span12
      .alert.alert-info
        Status pendaftaran Anda bisa dicek dengan menekan tombol 'Status Pendaftaran Saya' di bawah. Tidak ada email konfirmasi pendaftaran yang dikirimkan panitia.
        %br
      Jika aplikasi Anda sudah lengkap, nama Anda akan ditampilkan di tombol 'Calon Peserta FIM 15' di bawah. 
.row
  .span5
    %h3 Forum Indonesia Muda
    %p
      %b
        FIM (Forum Indonesia Muda)
      adalah sebuah forum independen yang beranggotakan pemuda dan mahasiswa dari berbagai perguruan tinggi maupun organisasi kepemudaan di Indonesia, dari Aceh sampai Papua, bahkan yang sedang berada di luar negeri.
    %p
      Setelah sukses menyelenggarakan Leadership & Life Skill Training selama 1 dekade, tahun ini FIM kembali mengadakan pelatihan untuk angkatan ke-16.
      %b FIM 15 
      akan diselenggarakan pada tanggal 27 Oktober – 3 November 2013 di Jakarta.

    %p
      Pendaftaran dibuka antara tanggal 4 September – 2 Oktober 2013 (23.59 WIB). Berkas peserta akan diseleksi sesuai prosedur, untuk memenuhi kapasitas peserta FIM 15 sebanyak 120 orang, dengan batas usia 
      %b 18-30
      tahun. Peserta terpilih akan diumumkan pada tanggal 7 Oktober 2013.
    %p
      Informasi lebih lanjut soal FIM dapat dilihat di 
      %a{href: "http://www.forumindonesiamuda.org"}
        forumindonesiamuda.org, 
      Twitter FIM 
      %a{href: "http://twitter.com/fimnews"}
        @fimnews
      , 
      %a{href: "https://www.facebook.com/pages/Forum-Indonesia-Muda/125650577511664"}
        Facebook FIM
      , maupun menghubungi 
      %a{href: "mailto:info@forumindonesiamuda.org"}
        info@forumindonesiamuda.org

    %p
      Contact Person: 
      %b
        Dito (085694098664) 
      dan 
      %b
        Putri (085694631155)
  .span7
    %h4 Rekapitulasi pendaftar FIM 15 (estimasi lokasi)
    #map_canvas{:style => "width:650px; height:350px"}
.row
  .span7.service-item
    =link_to "Pendaftaran", new_profile_candidate_path, 'class' => 'btn btn-primary'
    =link_to "Calon Peserta FIM 15", profile_candidates_path, 'class' => 'btn btn-danger'
    =link_to "Statistik Pendaftar", statistics_public_path, 'class' => 'btn btn-warning'
    =link_to "Status Pendaftaran Saya", progress_status_profile_candidates_path, 'class' => 'btn btn-info'
    
    %br
    %br
      Jika Anda memakai 
      %b
        Internet Explorer (IE) 8,
      mohon upgrade ke
      %a{href: 'http://windows.microsoft.com/en-us/internet-explorer/download-ie'} 
        IE 9+, 
      %a{href: 'https://www.google.com/intl/en/chrome/browser/'}
        Chrome
      ,
      %a{href: 'http://www.apple.com/safari/'}
        Safari
      , atau
      %a{href: 'http://portableapps.com/apps/internet/firefox_portable'}
        Firefox
    %hr
    %br
    .fb-like{"data-href" => "http://portal.forumindonesiamuda.org", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
    %br
    %br
    .fb-comments{"data-href" => "http://portal.forumindonesiamuda.org", "data-num-posts" => "15", "data-width" => "600"}
    
  .span4
    %h4 Penutupan Pendaftaran FIM 15
    %div{:style => "background:#000;width:350px; height:174px;font:0px sans-serif;text-align:left;"}
      %object#cdtw{:classid => "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000", :height => "154", :style => "outline:none", :width => "350"}
        %param{:name => "movie", :value => "http://countingdownto.com/c/w.swf"}/
        %param{:name => "flashvars", :value => "eid=365508"}/
        %param{:name => "allowscriptaccess", :value => "always"}/
        %param{:name => "bgcolor", :value => "#000000"}/
        %embed{:allowscriptaccess => "always", :bgcolor => "#000000", :flashvars => "eid=365508", :height => "160", :name => "cdtw", :src => "http://countingdownto.com/c/w.swf", :style => "outline:none", :type => "application/x-shockwave-flash", :width => "350"}
      %br/
    %br
    %a.twitter-timeline{"data-widget-id" => "308020397293568000", :href => "https://twitter.com/fimnews"} Tweets by @fimnews
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

-unless cookies[:hide_like_suggestion]
  -cookies[:hide_like_suggestion] = {value: true, expires: 3.day.from_now}
  :javascript
    $('#myModal').modal('show')