-content_for :head do
  :javascript
    if (#{@is_announcement_displayed}) {
      if (confirm("[Pengumuman]\n\nAda penambahan deskripsi pada formulir pendaftaran. Yang semula tertulis:\n\n" + 
        "Pelatihan workshop kepemudaan yang pernah diikuti. (Format: [tahun];[nama pelatihan])\n\n" + 
        "dilengkapi menjadi\n\n" + 
        "Pelatihan / Seminar / Konferensi / Kompetisi yang pernah diikuti. (Format: [tahun];[nama kegiatan];[deskripsi singkat];[tingkat, misal:internasional, institusi, provinsi])\n\n" + 
        "Jika kamu ingin mengubah isian Anda, silakan menuju ke [Step 2] atau klik 'Ok'\n\n" +
        "Jika tidak ingin mengubah, silakan klik 'Cancel'")) {
        window.location.replace("#{step2_profile_candidates_url}");
      }
    }