= render :partial => 'announcement_popup', :locals => {:is_announcement_displayed => @is_announcement_displayed}
    
%h3 Selamat datang calon peserta FIM!
%p
  Sebelum Anda mengisi informasi pendaftaran, silakan membuat akun terlebih dahulu.
%p
  Beberapa hal yang dapat kamu siapkan sebelum mulai mengisi formulir adalah:
  %ul
    %li
      Softcopy KTP (dapat berupa hasil scan atau difoto) berukuran maksimal 300Kb
    %li
      Softcopy pas foto 3:4 dengan latar belakang 1 warna berukuran maksimal 300Kb
    %li
      Nama dan e-mail orang yang dapat merekomendasi kamu untuk mengikuti Pelatihan FIM 18. Perekomendasi boleh siapa saja (dosen, petinggi organisasi, pemuka adat, artis, alumni FIM, dan lainnya) asalkan mengenal kamu dengan baik. Penjelasan mengenai rekomendasi dan hal-hal lain terkait FIM 18 dapat dilihat di FAQ.

%p
  Pengisian formulir berlangsung selama 8-29 Februari 2016. Ayo optimalkan persiapanmu!
%p
  Semoga sukses! Jika ada yang ingin ditanyakan silakan hubungi narahubung pelatihan FIM 18.
%p
  Lukman (08977737745)
%p
  Ilma (081382972438)
%p
  %a{href: "http://line.me/ti/p/%40cnz0088f"}
    LINE FIM