= render :partial => 'announcement_popup', :locals => {:is_announcement_displayed => @is_announcement_displayed}
    
%h3 Terima kasih sudah mendaftar. Formulir pendaftaran FIM 18 dapat diisi mulai tanggal 8 Februari 2016. Siapkan dirimu!

%p
  Beberapa hal yang dapat kamu siapkan sebelum mulai mengisi formulir adalah:
  %ul
    %li
      Softcopy KTP (dapat berupa hasil scan atau difoto) berukuran maksimal 300Kb
    %li
      Softcopy pas foto 3:4 dengan latar belakang 1 warna berukuran maksimal 300Kb
    %li
      Nama dan e-mail orang yang dapat merekomendasi kamu untuk mengikuti Pelatihan FIM 18. Perekomendasi boleh siapa saja (dosen, petinggi organisasi, pemuka adat, artis, alumni FIM, dan lainnya) asalkan mengenal kamu dengan baik. Penjelasan mengenai rekomendasi dan hal-hal lain terkait FIM 18 dapat dilihat di FAQ.

%p Semoga sukses! Jika ada yang ingin ditanyakan silakan hubungi narahubung pelatihan FIM 18.
%p
  Narahubung:
  %b
    Lukman (08977737745)
  dan
  %b
    Ilma (081382972438)
%p
  Dapat juga menghubungi
  %a{href: "http://line.me/ti/p/%40cnz0088f"}
    LINE FIM