= render :partial => 'announcement_popup', :locals => {:is_announcement_displayed => @is_announcement_displayed}
    
%h3 Terima kasih sudah mendaftar. Formulir pendaftaran FIM 18 dapat diisi mulai tanggal 8 Februari 2016. Siapkan dirimu!

%ol
  %li Sign up akun di portal.forumindonesiamuda.org mulai tgl 1 Februari 2016
  %li Lihat persyaratan pendaftaran di website FIM
  %li Siapkan bbrp hal brkt :
  %ol
    %li File softcopy ktp
    %li File softcopy pas foto
    %li Menyiapkan nama dan email org yg dpt memberikan rekomendasi kpd capes
  %li formulir mulai tgl 8-29 Febr. Ingat, pendaftaran hanya 3 minggu. Jd optimalkan persiapanmu..
  %li Hubungi narahubung di Lukman (08977737745) dan Ilma (081382972438)