.row
  .span10.offset1
    %h3 Daftar calon peserta FIM 14

    %table.table.table-striped
      %thead
        %tr
          %th{:style=>'width:10%'} No
          %th{:style=>'width:50%'} Nama
          %th{:style=>'width:40%'} Asal Kampus
      %tbody
        - @profiles.each_with_index do |profile, i|
          %tr
            %td= i+1
            %td= profile.fullname
            %td= profile.location
            %td= profile.school
