.row
  .span10.offset1
    %h3 Daftar calon peserta FIM 14

    %table.table.table-striped
      %thead
        %tr
          %th{:style=>'width:10%'} No
          %th{:style=>'width:30%'} Nama
          %th{:style=>'width:30%'} Asal Kampus
          %th{:style=>'width:30%'} Asal Daerah
      %tbody
        - @profiles.each_with_index do |profile, i|
          %tr
            %td= i+1
            %td= profile.fullname
            %td= profile.school
            %td= profile.location
