= render :partial => 'step_navigator', :locals => {:step => 2}
= render :partial => 'announcement_popup', :locals => {:is_announcement_displayed => @is_announcement_displayed}
    
%h2 Pendaftaran FIM 14
%ul
  %li Silahkan isi data dengan lengkap, kelengkapan merupakan syarat utama untuk menjadi salah satu peserta FIM 14
  %li 
    Kolom isian yang memilki tanda 
    %b * 
    di samping kirinya 
    %b harus
    diisi
  %li 
    Data akan tersimpan setelah Anda menekan tombol 
    %b "Next >"
  %li
    Anda bisa mengisi formulir ini terlebih dahulu, kemudian mengunggah foto dan surat rekomendasi di lain waktu
  %li
    Jika kemudian ada data yang ingin diperbaiki, Anda bisa kembali ke halaman ini dengan menekan tombol 
    %b "< Prev"


= render 'form'
