%ul.nav.nav-pills
  %li
    %a{:href => "#"} 1) Registrasi
  %li.active
    %a{:href => "#"} 2) Pengisian Formulir
    
%h2 Pendaftaran FIM 14
%p Silahkan isi Data dengan Lengkap, kelengkapan merupakan syarat utama untuk menjadi salah satu peserta FIM 14

= render 'form'
