= render :partial => 'step_navigator', :locals => {:step => 3}
    
%h2 Pendaftaran FIM 14
%p 
  Unggah foto Anda. Foto harus menampilkan wajah dengan jelas. Ukuran maximum foto: 
  %b 300KB

= render 'form_photo'
