= render :partial => 'step_navigator', :locals => {:step => 2}
= render :partial => 'announcement_popup', :locals => {:is_announcement_displayed => @is_announcement_displayed}
    
%h2 Pendaftaran FIM
%ul
  %li Silahkan isi data dengan lengkap, kelengkapan merupakan syarat utama untuk menjadi salah satu peserta FIM 18
  %li 
    Kolom isian yang memilki tanda bintang 
    %b * 
    di samping kirinya 
    %b harus
    diisi
  %li{:style => 'color:blue'}
    Data di tiap halaman akan tersimpan tiap kali kamu menekan tombol 
    %b "Next >"
  %li
    Hanya jika kamu tidak bisa menekan tombol "Next >", mohon dicek apakah browsernya memenuhi syarat (Internet Explorer 9+, Chrome 9+, Safari, atau Firefox 7+).
  %li
    kamu bisa mengisi formulir ini terlebih dahulu, kemudian mengunggah foto, KTP/KK, dan surat rekomendasi di lain waktu
  %li
    Jika kemudian ada data yang ingin diperbaiki, kamu bisa kembali ke halaman ini dengan menekan tombol 
    %b "< Prev"


= render 'form'
