= render :partial => 'step_navigator', :locals => {:step => 4}

%h2 Pendaftaran FIM 14
%p 
  Unggah surat rekomendasi dari institusi/organisasi yang Anda ikuti. Ukuran maksimum file: 
  %b 400KB
%p
  Surat rekomendasi harus mencantumkan:
  %ul
    %li
      Identitas lengkap diri Anda (misal: nama, NIM/NPM, jurusan)
    %li   
      Peryataan dan tanda tangan dari ketua organisasi/institusi bahwa Anda pernah/sedang aktif di organisasi/institusi tersebut
    %li
      Nama jabatan dan periode menjabatnya
    %li 
      Alasan merekomendasikan Anda untuk mengikuti FIM 14
      
= render 'form_recommendation_letter'
