%ul.nav.nav-pills
  %li
    =link_to step1_profile_candidates_path do
      1) Registrasi
  %li
    =link_to step2_profile_candidates_path do
      2) Pengisian Formulir
  %li.active
    =link_to step3_profile_candidates_path do
      3) Unggah Foto
  %li
    =link_to step4_profile_candidates_path do
      4) Unggah Surat Rekomendasi
    
%h2 Pendaftaran FIM 14
%p Unggah foto Anda. Foto harus menampilkan wajah dengan jelas.

= render 'form_photo'
