= render :partial => 'step_navigator', :locals => {:step => 4.5}
= render :partial => 'announcement_popup', :locals => {:is_announcement_displayed => @is_announcement_displayed}

%h2 Pendaftaran FIM
%p
  %b [PENTING] Informasi Pemberi Rekomendasi 
  %br
  Rekomendasi ini tidak bersifat wajib, namun menjadi nilai tambah bagi formulir kamu. Formulir rekomendasi tidak diisi oleh calon peserta, melainkan link isiannya dikirim langsung ke email perekomendasi.
  %br
  Rekomendasi ini dapat diberikan oleh siapapun, baik itu 
  %b teman baik, dosen, tokoh masyarakat, pemuka adat, petinggi organisasi, petinggi partai politik, atau alumni FIM, siapa saja asalkan mengenal kamu dengan baik.
  Alamat e-mail yang akan diperhitungkan sebagai perekomendasi adalah
  %b alamat e-mail pertama
  yang dimasukkan. Silakan masukkan nama dan alamat e-mail orang yang akan merekomendasikan kamu lalu tekan tombol 
  %b‘Next’
  Pastikan alamat e-mail yang kamu masukkan benar.
  %br
  %br
  %b Setelah 1×24 jam silakan mengingatkan perekomendasi kamu untuk memeriksa kotak masuk e-mailnya untuk mengisi link rekomendasi yang telah dikirimkan oleh kami.
  

/ %p
/   %b Informasi Pemberi Rekomendasi 
/   %br
/   Nama dan email perekomendasi pada tahap sebelumnya akan kami gunakan untuk mengonfirmasi kebenaran dari surat rekomendasi yang akan kamu unggah pada tahap ini. 
  
/ %p 
/   %ul
/     %li 
/       %b Format surat rekomendasi bisa diunduh 
/       %b= link_to 'Di Sini', 'https://docs.google.com/uc?authuser=0&id=0Bz23e7B9whOsNGtDNU5LN0Nfejg&export=download'
/     %li 
/       Selanjutnya unggah scan/foto/softcopy surat rekomendasi tersebut yang telah diisi oleh perekomemdasi, dengan format file .pdf/ .doc/ .png pastikan ukuran file tidak lebih dari 2MB pada kolom di bawah ini :

/ %p
/   Jika surat rekomendasi ada lebih dari satu, mohon diarsipkan menjadi satu (format ZIP atau RAR) sebelum dikirimkan
/   %br
/   kamu bisa menggunakan program seperti 
/   = link_to '7 Zip', 'http://www.7-zip.org/'
/   , 
/   = link_to 'WinRAR', 'http://www.rarlab.com/'
/   ,
/   = link_to 'WinZip', 'http://www.winzip.com'
/   , atau fitur bawaan
/   = link_to 'Windows', 'http://www.pcworld.com/article/228109/Files.html'
/   ,
/   = link_to 'Surat Rekomendasi', 'https://docs.google.com/uc?authuser=0&id=0ByAd-hBNx_8kUy02cllvMmJvSW8&export=download'

  
      
= render 'form_recommendation_letter'
