%ul.nav.nav-pills
  %li
    %a{:href => "#"} 1) Registrasi
  %li
    %a{:href => "#"} 2) Pengisian Formulir
  %li.active
    %a{:href => "#"} 3) Unggah Foto
  %li
    %a{:href => "#"} 4) Unggah Surat Rekomendasi
    
%h2 Pendaftaran FIM 14
%p Unggah foto Anda

= render 'form_photo'
