= render :partial => 'step_navigator', :locals => {:step => 4.5}
= render :partial => 'announcement_popup', :locals => {:is_announcement_displayed => @is_announcement_displayed}

%h2 Pendaftaran FIM
%p
  Surat rekomendasi ini bersifat tidak wajib, namun keberadaannya menjadi nilai tambah.
  %br
  Rekomendasi ini dapat diberikan oleh siapapun, baik itu teman baik, dosen, tokoh masyarakat, pemuka adat, petinggi organisasi, petinggi partai, atau alumni FIM dan sebaiknya perekomendasi adalah orang yang yang kenal baik dengan kamu. Kamu hanya diperkenankan untuk memperoleh 
  %b rekomendasi dari 1 orang saja.

%p
  %b Informasi Pemberi Rekomendasi 
  %br
  Nama dan email perekomendasi pada tahap sebelumnya akan kami gunakan untuk mengonfirmasi kebenaran dari surat rekomendasi yang akan kamu unggah pada tahap ini. 
  
%p 
  %ul
    %li 
      %b Format surat rekomendasi bisa diunduh 
      %b= link_to 'Di Sini', 'https://docs.google.com/uc?authuser=0&id=0Bz23e7B9whOsNGtDNU5LN0Nfejg&export=download'
    %li 
      Selanjutnya unggah scan/foto/softcopy surat rekomendasi tersebut yang telah diisi oleh perekomemdasi, dengan format file .pdf/ .doc/ .png pastikan ukuran file tidak lebih dari 2MB pada kolom di bawah ini :

/ %p
/   Jika surat rekomendasi ada lebih dari satu, mohon diarsipkan menjadi satu (format ZIP atau RAR) sebelum dikirimkan
/   %br
/   kamu bisa menggunakan program seperti 
/   = link_to '7 Zip', 'http://www.7-zip.org/'
/   , 
/   = link_to 'WinRAR', 'http://www.rarlab.com/'
/   ,
/   = link_to 'WinZip', 'http://www.winzip.com'
/   , atau fitur bawaan
/   = link_to 'Windows', 'http://www.pcworld.com/article/228109/Files.html'
/   ,
/   = link_to 'Surat Rekomendasi', 'https://docs.google.com/uc?authuser=0&id=0ByAd-hBNx_8kUy02cllvMmJvSW8&export=download'

  
      
= render 'form_recommendation_letter'
