%ul.nav.nav-pills
  %li
    %a{:href => "#"} 1) Registrasi
  %li
    %a{:href => "#"} 2) Pengisian Formulir
  %li
    %a{:href => "#"} 3) Unggah foto
  %li.active
    %a{:href => "#"} 4) Unggah surat rekomendasi
    
%h2 Pendaftaran FIM 14
%p Unggah surat rekomendasi dari institusi/organisasi yang Anda ikuti

= render 'form_recommendation_letter'
