= render :partial => 'step_navigator', :locals => {:step => 4}

%h2 Pendaftaran FIM 14
%p 
  Unggah surat rekomendasi dari institusi/organisasi yang Anda ikuti. Ukuran maksimum file: 
  %b 400KB

= render 'form_recommendation_letter'
