= render :partial => 'step_navigator', :locals => {:step => 2}
    
%h2 Pendaftaran FIM 14
%p Silahkan isi data dengan Lengkap, kelengkapan merupakan syarat utama untuk menjadi salah satu peserta FIM 14

= render 'form'
