= render :partial => 'layouts/step_navigator', :locals => {:step => 1}

%h3 Selamat datang calon peserta FIM!
%p
  Sebelum Anda mengisi informasi pendaftaran, silakan membuat akun terlebih dahulu.
%p
  Dokumen yang perlu Anda siapkan:
  %ul
    %li
      Foto yang menampilkan wajah dengan jelas.
      %br
      Ukuran maximum foto: 
      %b 300KB
      dan tipe file yang dibolehkan adalah 
      %b .png, .jpg, .bmp
    %li
      KTP yang menampilkan wajah dengan jelas.
      %br
      Ukuran maximum KTP: 
      %b 300KB
      dan tipe file yang dibolehkan adalah 
      %b .png, .jpg, .bmp
    %li
      Scan/foto/softcopy surat rekomendasi dari organisasi/institusi yang pernah/sedang Anda ikuti. 
      %br
      Format file bisa .pdf, .doc, .png, atau lainnya yang penting bisa terbaca dengan mudah.
      %br
      Template surat bisa di download saat mengisi isian pendaftaran


= render :partial => 'devise/shared/register_or_sign_in', :locals => {:user => @user}
