= render :partial => 'step_navigator', :locals => {:step => 3}
    
%h2 Pendaftaran FIM 14
%p 
  Unggah foto Anda. Foto harus menampilkan wajah dengan jelas.
  %br
  Ukuran maximum foto: 
  %b 300KB
  dan tipe file yang dibolehkan adalah 
  %b .png, .jpg, .bmp

= render 'form_photo'
