= render :partial => 'layouts/step_navigator', :locals => {:step => 4}
= render :partial => 'layouts/announcement_popup', :locals => {:is_announcement_displayed => @is_announcement_displayed}

%h2 Pendaftaran FIM
%p 
  scan/foto/softcopy surat rekomendasi dari organisasi/institusi yang pernah/sedang Anda ikuti.
  %br
  Format file bisa .pdf, .doc, .png, atau lainnya yang penting bisa terbaca dengan mudah.
  %br
  Ukuran maksimum file: 
  %b 2 MB
%p
  %b Format surat rekomendasi harus sesuai dengan template yang sudah anda anda download di step sebelum nya

= render 'form_recommendation_letter'
