-if @success
  alert("KTP / KK kamu sudah berhasil diunggah");
  window.location.replace("#{step4_profile_candidates_path(:uploaded => true)}");
-else
  alert("File Kamu gagal diunggah. Pastikan ukuran dan tipe file sesuai spesifikasi");