-if @success
  alert("Foto Anda sudah selesai diunggah");
  window.location.replace("#{step3_profile_candidates_path(:uploaded => true)}");
-else
  alert("File Anda gagal diunggah. Pastikan ukuran dan tipe file sesuai spesifikasi");