-if @success
  alert("Foto kamu sudah berhasil diunggah");
  window.location.replace("#{step3_profile_candidates_path(:uploaded => true)}");
-else
  alert("File kamu gagal diunggah. Pastikan ukuran dan tipe file sesuai spesifikasi");