%ul.nav.nav-pills
  %li{:class => (step == 1 ? 'active' : '')}
    =link_to step1_profile_candidates_path do
      1) Registrasi
  %li{:class => (step == 2 ? 'active' : '')}
    =link_to step2_profile_candidates_path do
      2) Biodata Umum
  %li{:class => (step == 2.5 ? 'active' : '')}
    =link_to step2_branching_profile_candidates_path do
      3) Biodata Khusus
  %li{:class => (step == 3 ? 'active' : '')}
    =link_to step3_profile_candidates_path do
      4) Unggah Foto
  %li{:class => (step == 4 ? 'active' : '')}
    =link_to step4_profile_candidates_path do
      5) Unggah Surat Rekomendasi dan KTP
  %li{:class => (step == 5 ? 'active' : '')}
    =link_to step5_profile_candidates_path do
      6) Konfirmasi